### cmake ###
install_manifest.txt
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
MakeFile
mytest
libarrowhead_cpp.so
CTestTestflie.cmake

### Eclipse/STS ###
*.apt_generated
*.classpath
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
